:root {
  --primary: #3EC3FD
}

body {
  margin: 4rem;
  font-size: 1rem;
  line-height: 1.5;
}

#demo {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

.CountUpButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 2.75rem;
  border-radius: 1.25rem;
  border: 6px solid var(--primary);
  color: var(--primary);
  background: transparent;
  font-size: 5.125rem;
  line-height: 1;
}